.spacer {
  flex: 1 1 auto;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.w3 {
  width: 80px;
}



.profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}