<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt-4 p-4">
          <div class="col-md-8">
            <h1 class="pageHeading py-3 mb-2">Roles & Permissions</h1>
          </div>
          <mat-tab-group>
            <mat-tab
              class="tab"
              *ngFor="let permission of permissions"
              [label]="permission.permissionName"
            >
              <div class="container">
                <div class="row">
                  <div
                    class="col-md-6"
                    *ngFor="let p of permission.subPermissions"
                  >
                    <mat-checkbox [(ngModel)]="p.hasPermission">{{
                      p.subPermissionName
                    }}</mat-checkbox>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
          <div style="text-align: right">
            <button mat-raised-button class="primary">Save Permission</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <mat-tab-group>
  <mat-tab
    class="tab"
    *ngFor="let permission of permissions"
    [label]="permission.permissionName"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped shadow">
            <tbody>
              <tr>
                <div class="row">
                  <div
                    class="col-md-6"
                    *ngFor="let p of permission.subPermissions"
                  >
                    <td>
                      <mat-checkbox [(ngModel)]="p.hasPermission">{{
                        p.subPermissionName
                      }}</mat-checkbox>
                    </td>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group> -->
