<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt-4 p-4">
          <main>
            <div class="row">
              <div class="col-md-8">
                <h1 class="pageHeading py-3 mb-2">Journey</h1>
              </div>
              <div class="col-md-4">
                <div class="align-right">
                  <button
                    mat-raised-button
                    class="primary mb-3"
                    routerLink="/dashboard/journey/add"
                  >
                    ADD NEW JOURNEY
                  </button>
                </div>
              </div>
            </div>
            <div class="row"></div>
          </main>
        </mat-card>
      </div>
    </div>
  </div>
</div>
